# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.env
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data & models (μην ανεβάζεις μεγάλα αρχεία)
models/
Known_faces/
Unknown_snapshots/
facebank.npz
*.npz
*.npy

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Git LFS hint file (optional)
# If you use Git LFS, track large model files instead of committing them
# Example:
# git lfs track "models/*.onnx"